body{
  background-color:pink;
  font-family: Aria,Helvetica,sans-serif;
}
header{
  background-color:white;
  color:pink;
  text-align:center;
}
main{
  background-color:pink;
  max-width:800px;
  margin:20px auto;
  padding:20px;
}
section{
  margin-bottom:20px;
}

